/*   .------------------------------------------.
 *  /                                            \
 *                VARIABLES.SCSS
 *  \                                            /
 *   '------------------------------------------'
*/
//IMPORTS
//N/A

/* CONTENTS (update lines as this file grows)
 *      Colors...................... line 21
 *      Fonts.......................
 *      Grid........................
 *      Buttons.....................
 *      Breakpoints.................
 *      
*/


/**********************
COLORS
**********************/
$react-blue: #61dafb;
$dark-blue: #0084a8;
$white: #FFFFFF;
$light-grey: #cbcbcb;
$meds-grey: #888888;
$dark-grey: #646464;


/**********************
FONT
**********************/
$ff-d: Arial, Helvetica, sans-serif;
$fs-d: 16px;
$fw-d: 200;

$h1: 3em;
$h2: 2em;
$h3: 1.6em;


/**********************
BREAKPOINTS
**********************/
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);





