/*VARIABLES

CONTENTS.......... global variables
BREAKPOINTS.......
    Fullscreen (min-width: 1200px)
    Desktop (min-width: 1025px){
    Tablet-Narrow (min-width: 768px)
    Tablet-Wide (min-width: 768px) and (max-width: 1024px)
    Mobile (min-width: 640px)

/**********************
COLORS
**********************/
$primary-color: #61dafb;


/**********************
BUTTONS
**********************/


/**********************
BREAKPOINTS
**********************/
$min-fullscreen: 1200px;
$min-desktop: 1025px;
$min-tablet: 768px;
$min-mobile: 640px;

/**********************
BACKGROUNDS
**********************/


/**********************
SVGS
**********************/


/**********************
GRID
**********************/


